.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.font-JM {
  font-family: 'Noto Sans JP', sans-serif;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ffcc21;
  border-radius: 4px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: #777777;
}
