$primary: #722ED1;
$error: #fa541c;
$gray-6: #BFBFBF;
$gray-7: #8C8C8C;
$gray-8: #595959;
$gray-9: #D9D9D9;
$gray-12: #141414;
$gold-1: #FFFBE6;
$gold-6: #FAAD14;
$gold-9: #874D00;
$green-6: #52C41A;
$green-9: #135200;
$purple-1: #F9F0FF;
$purple-2: #EFDBFF;